# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
.pytest_cache/

# Node
node_modules/
.next/
out/

# Env
.env
*.env.local

# DB / cache
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Logs
*.log
